/**
 * @author homastin
 * @date 2019-05-10 17:38
 * @Description: jigsaw
 */

var startX = 0
var xPosition = 0;

function updateStyle(ins, px) {
  ins.selectComponent('.slider').setStyle({
    left: px,
  })

  ins.selectComponent('.block').setStyle({
    left: px,
  })

  ins.selectComponent('.slide-mask').setStyle({
    width: px,
  })
}

function touchstart(event, ins) {
  var touch = event.touches[0] || event.changedTouches[0]

  startX = touch.pageX;

  ins.callMethod('bindTouchstart', {startX})
}

function touchmove(event, ins) {
  var touch = event.touches[0] || event.changedTouches[0]
  var pageX = touch.pageX

  if (pageX < startX || pageX > startX + 220-26) {
    return;
  }

  xPosition = pageX - startX;

  updateStyle(ins, xPosition + 'px')

  // console.log('get data', JSON.stringify(ins.selectComponent('.movable')[0].getData()))
  // console.log('get data set', JSON.stringify(ins.selectComponent('.movable')[0].getDataset()))
  // console.log('test select', ins.selectComponent('.movable')[0].selectComponent('.dd'))
}

function touchend(event, ins) {
  var touch = event.touches[0] || event.changedTouches[0]
  var pageX = touch.pageX
  xPosition = pageX - startX;

  console.log(pageX,'endX');

  ins.callMethod('bindTouchEnd', { left: xPosition })
}


function propObserver(newValue, oldValue, ownerInstance, instance) {
  // console.log('prop observer', newValue, oldValue)

  updateStyle(ownerInstance,0)
}

module.exports = {
  touchstart: touchstart,
  touchmove: touchmove,
  touchend: touchend,
  propObserver: propObserver,
}
